*.iml
*.ipr
*.iws
target/
build/
.idea/
*.swp
out/
.DS_Store
.classpath
.project
.settings/
attorney-messaging-client/
**/deploy*.sh
**/testingPrivateAttorneyKey.dat
**/dependency-reduced-pom.xml
**/p_build.sh
**/nbactions.xml
**/test.txt
**/test.xml
**/test1.xml
**/test2.xml
**/test3.xml
**/nohup.out
**/pyramid*.txt
**/acm*.txt

*.gradle
**/kgee-*.properties
**/Attorneys.csv
**/za/co/fnbhl/schemas/attorney/
**/za/co/e4/*.class
